# Compiled Object files
*.slo
*.lo
*.o
*.obj
# qt files
*.pro.user*
Makefile
*.bundle
.qmake.cache
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Visual Studio Crap
*.sln
*.user
*.filters

# Executables
*.exe
*.out
# image files
*.psd

*.app
# temp files under linux
*.~*
#bzr files
.bzr/
#zips and tgz
*.tgz
*.zip
*.tar.gz